*{
    background-color: lavender;

}
header{
    background-color: #950740;
}
/*.header{
    position: fixed;
    top: 0;
    left:30vh;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}*/
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 70px;
    line-height: 70px;
    z-index: 111;

}
.logo{
    display: flex;
    font-size: 35px;
    font-weight: 800;
    color:#6F2232;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;

  }
b{
    font-size: 50px;
    color:#950740;
}

#menu-icon{
 font-size: 3rem;
    color: #6F2232;
    cursor: pointer;
    display: none;
 }

.navItem{

    display: flex;
}

.navItem li{
    list-style: none;
   margin: 0 15px;
}

.navItem li a{
    font-size: 25px;
    color: #6F2232;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
/*.navbar a{
    font-size: 25px;
    color: dimgray;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));

}*/

.navItem li:hover a{
    color:#C3073F;
    box-shadow: 0 0 20px #C3073F;
}

.navItem li:active a{
    color: #C3073F ;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
    margin-bottom: 30vh;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: -7s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: -7s;
}
.home-content h3 span{
    color:#6F2232;
}

.multiple-text{
    color: #C3073F;
    text-transform: capitalize;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-image img{
    max-width: 450px;
    border-color: black;
    margin-right: 27vh;
    margin-bottom: 30vh;
    opacity: 0;
    animation: zoomIn 1s ease forwards,floatImage 4s ease-in-out infinite;
    animation-delay: 2s;
}

  #splash{
    position: absolute;
    top: 45%;
    left: 65%;
  /*  transform: translate(-45%,-65%) rotate(-35deg);*/
    width: 150%;
    filter: saturate(200%);
  /*  animation:zoomIn 1s ease forwards,floatImage 4s ease-in-out infinite;
*/

}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #C3073F;
    border-radius: 50%;
    font-size: 20px;
    color: #6F2232;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(-2s * var(--i));
}

.social-media a:hover{
    background: #C3073F;
    color: black;
    box-shadow: 0 0 20px #C3073F;
}

.btn{
    display: inline-flex;
    padding: 12px 28px;
    background: deeppink;
    border-radius: 35px;
    box-shadow: 0 0 7px #6F2232;
    font-size: 16px;
    color:black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    transition: 1s;
}
.btn{
    background: transparent;
    color: #6F2232;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #C3073F;
    z-index: -1;
    transition: 1s;
}

.btn:hover::before{
    width: 100%;
    color: deeppink;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
.about{
   /* position: absolute;
    top: 105%;*/

    top: 75%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 0px 10% 0;
}

.heading{
    position: relative;
    width: 34rem;
   margin-left:70vh;
    margin-right: 55vh;
    margin-bottom: 3vh;
}

  .heading h2{
    font-size: 2.5rem;
      text-align: center;
    font-weight: 700;
      margin-bottom:5vh;
      margin-top: 5vh;
    color: transparent;
    -webkit-text-stroke:2px #C3073F ;
}
  #subHead{
      font-size: 2.2rem;
      font-weight: bold;
      margin-top: 0.3vh;
  }

  .about-container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 3rem;
     position: absolute;
      top: 125%;
      right:4%;

  }

  #about-img{
      position: absolute;
      bottom:20% ;
      left: 4%;
      width: 330px;
      height: 590px;
      border-radius: 50%;
  }

  #about-img img{
      width: 300px;
      border-radius: 50%;
      border: 6px solid #C3073F;
  }


.about-text{
    padding-bottom: 8rem;
    align-content: center;
    margin-right: 3vh;
}
  .about-text p{
      font-size: 1.4rem;
      font-weight: 400;
      text-align: justify;
  }

  .information{
      margin: 1rem 0 1.4rem;
  }

  .information .info-box{
      display: flex;
      align-items: center;
      margin-bottom: 1.4rem;
  }

  .information .info-box span{
      font-weight: 400;
      margin-left: 1rem;
  }
.heading h3{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    margin-left:1vh;
    margin-right: 15vh;
    color: transparent;
    -webkit-text-stroke:2px #C3073F ;
}
.education{
    position: absolute;
    top: 210%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-left: 3vh;
    margin-right: 3vh;
}

.education .education-column{
    flex: 1 1 40rem;
}

.education .title {
    font-size: 2.5rem;
    margin: 0 1rem 2rem 2.5rem;
}

.education-column .education-box{
    border-left: 5px solid #C3073F;
}

.education-box.education-content{
    position: relative;
    padding-left: 30px;
    margin-right: 2vh;
}

.education-box.education-content::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 1.1rem;
    width: 2rem;
    height: 2rem;
    background: #950740;
    border-radius: 50%;
}

.education-content .content{
    position: relative;
    padding: 1rem;
    border: 2px solid #C3073F;
    border-radius: 3rem;
    margin-bottom: 2rem;
    margin-right: 2.5rem;
    margin-left: 1rem;
    overflow: hidden;

}

.education-content .content::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #C3073F;
    z-index: -1;
    transition: 1s;
}

.education-content .content:hover::before{
    width: 100%;
    color: crimson;
}

.education-content .content .year{
    font-size: 1.5rem;
    font-weight: bold;
    color: #6F2232;
    padding-bottom: 0.2rem;
}

.education-content .content .year i{

}

.education-content .content .h3{
    font-size: 1rem;
}

.education-content .content p{
    font-size: 1.4rem;
}

/*
KEYFRAMES ANIMATION*/

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity:0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity:0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes zoomIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-64px);
    }
    100%{
        transform: translateY(0);
    }
}

